body{
	margin:0;padding:0;overflow-x:hidden;
}
html, body{
	height:100%;
}
img{
	border:none;
}
*{
	font-family:'微软雅黑';font-size:12px;color:#626262;
}
dl,dt,dd{
	display:block;margin:0;
}
a {
	text-decoration:none;
}

.container{
	width:100%;
	height:100%;
	margin:0 3px;
	position: relative;
}

/*左侧导航*/
.leftsidebar_box{
	float: left;
	width:160px;
	height:auto;
	overflow:visible;
	float: left;
	position:relative;
	height:100%;
	background-color:#3992d0;
}
.line{
	height:140px;
	width:100%;
}
.line .avtor {
	height:128px;
	width:80%;
	border-radius: 100%;
	margin: 20px 12px;
    overflow: hidden;
    border: #FFF 4px solid;
	background-repeat:repeat-x;
}
.line .avtor a {
	display: block;
    padding-top: 97px;
    width: 100%;
    background: url(../images/left/photos.jpg) repeat-x;
    background-size: 130px 130px;
}
.line .avtor a span {
	display: block;
    width: 130px;
    height: 55px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    background: rgba(0, 0, 0, .5);
}
.leftsidebar_box dt{
	padding-left:40px;
	padding-right:10px;
	background-repeat:no-repeat;
	background-position:10px center;
	color:#f5f5f5;
	font-size:14px;
	position:relative;
	line-height:48px;
	cursor:pointer;
}
.leftsidebar_box dd{
	background-color:#317eb4;padding-left:40px;
}
.leftsidebar_box dd a{
	color:#f5f5f5;line-height:20px;
}
.leftsidebar_box dt img{
	position:absolute;right:10px;top:20px;
}
.system_log dt{
	background-image:url(../images/left/system.png);
}
.custom dt{
	background-image:url(../images/left/custom.png);
}
.channel dt{
	background-image:url(../images/left/channel.png);
}
.app dt{
	background-image:url(../images/left/app.png);
}
.cloud dt{
	background-image:url(../images/left/cloud.png);
}
.syetem_management dt{
	background-image:url(../images/left/syetem_management.png);
}
.source dt{
	background-image:url(../images/left/source.png);
}
.statistics dt{
	background-image:url(../images/left/statistics.png);
}
.leftsidebar_box dl dd:last-child{
	padding-bottom:10px;
}
/*右侧顶部*/
.rightsidebar_box {
	height: 638px;
	width: 1100px;
	position: relative;
	float: left;
	margin: 0px 10px 10px 40px;
}
.rightsidebar_box .right_top {
	width: 98%;
	height: 100px;
	margin: 1%;
}
.rightsidebar_box .right_section {
	width: 100%;
	height: 460px;
	margin-top: 5px;
}	

.tab1 { 
	margin-top:5px;
}
.tab1 td { 
	padding:5px 0;
}

.tab2 th {
	font-weight:normal; 
	height:29px; 
	line-height:29px; 
	background:#e5f0ff;
	border-top:1px solid #fff; 
	border-bottom:1px solid #ddd;
}
.tab2 td{ 
	text-align:center; 
	padding:5px 0; 
	border-bottom:1px solid #ddd;
}