@charset "gb2312";
h1.t_nav span { 
	float: right; color: #999; 
	background:url(../images/5849.png) no-repeat left center;
	padding-left:20px;
}
h1.t_nav span a { 
	margin: 0 5px;
}
h1.t_nav { 
	border-bottom: #F1F1F1 1px solid; 
	font-size: 12px;
	font-weight: normal; 
	line-height: 40px; 
	height: 40px; 
	}
a.n1, a.n2 { 
	width: 100px; 
	display: block; 
	text-align: center; 
	color: #fff; 
	float: left;
}
.n1 { 
	background: #5EA51B; 
}
.n2 { 
	background: #8BBF5D; 
}
.index_about { 
	float: left; 
	width: 740px; 
	overflow: hidden; 
	background: url(../images/r_line.jpg) repeat-y right; 
	margin: 10px 0;
}
.c_titile { 
	font-size: 22px; 
	margin: 20px 0; 
	text-align: center;
}
.box_c { 
	border: #ccc 1px dashed; 
	text-align: center; 
	padding: 5px 0; 
	margin-right: 30px;
	color: #999;
}
.box_c span { 
	margin: 0 10px; 
}
.box_c span a{
	color: #099;
}
ul.infos { 
	overflow: hidden; 
	margin: 20px 30px 0 0; 
	line-height: 28px; 
	font-size: 14px; 
}
ul.infos p { 
	margin-bottom: 20px;
}
ul.infos p img { 
	display: block; 
	margin: auto;
}
.keybq { 
	background: url(../images/6264.png) no-repeat 10px center #F8F8F8; 
	line-height: 30px; 
	height: 30px; 
	padding-left: 40px; 
	border: 1px solid #F0F0F0; 
	margin-right: 20px; 
}
.keybq span { 
	color: #099;
}
.nextinfo { 
	line-height: 24px; 
}
.rnav { 
	width: 250px; 
	margin: 20px 0; 
	overflow: hidden; 
	background:url(../images/6167.png) no-repeat left top;
}
.rnav1 { 
	background: #FE5187;
}
.rnav2 { 
	background: #339967;
}
.rnav3 { 
	background: #FF8151;
}
.rnav4 {
	 background: #66CC9A;
}
.rnav5 {
	 background: yellow;
}
.rnav6 {
	 background: deepskyblue;
}
.rnav h2{ 
	font-size:14px; 
	padding-left:40px; 
	line-height:30px; 
	height:30px; 
	margin-bottom:10px;
}
.rnav li { 
	width: 120px; 
	text-align: center; 
	display: inline-block; 
	margin-bottom: 5px; 
	margin-right: 5px; 
	float: left; 
	height: 40px; 
	line-height: 40px;
}
.rnav li a { 
	color: #333; 
	display: block; 
	-webkit-transition: all 1s; 
	-moz-transition: all 1s; 
	-o-transition: all 1s; 
	transition: all 1s ; 
	border:#CCC 1px solid;
}
aside .rnav ul li a:hover { 
	background: rgba(255,255,255,0.2); 
	-webkit-transform: rotate(360deg); 
	-moz-transform: rotate(360deg); 
	-o-transform: rotate(360deg); 
	transform: rotate(360deg); 
}
.otherlink h2 { 
	border-bottom: #099 2px solid; 
	line-height: 40px; font-size: 12px; 
	font-weight: normal; 
	margin-right: 20px; 
	background:url(../images/5794.png) 10px center no-repeat; 
	padding-left:40px;
}
.otherlink ul { 
	margin: 10px 0;
}
.otherlink li { 
	line-height: 24px; 
	height: 24px; 
	display: block; 
	width: 290px; 
	float: left; 
	overflow: hidden; 
	margin-right: 30px; 
}
.otherlink li a:hover{
	text-decoration:underline;
}
.visitors {
	height: 300px;
	width: 260px;
}
.bdshare_t { 
	margin: 20px 0;
}
.ad { 
	width: 100%; 
	margin: 10px auto; 
}
.infops{ 
	margin:0 0 20px 0;
}
.infops p{ 
	line-height:24px;
}
.bt-blue{ 
	background: url(../images/5817.png) no-repeat 20px center #47A9FF; 
	padding:5px 10px 5px 20px; width:90px; 
	text-align:center; 
	line-height:40px; font-weight:bold; 
	margin-bottom:10px}
.bt-blue a{ 
	color:#fff;
}
.ps{ 
	color:#F00;
}